@model Bookish.Models.Member;

<form asp-action="Edit">
<input type="hidden" asp-for="Id" />
First Name: <input asp-for="FirstName" type="text" />
Surname: <input asp-for="Surname" type="text" />
Address: <input asp-for="Address" type="text" />
Email: <input asp-for="Email" type="email" />
Phone Number: <input asp-for="PhoneNumber" type="tel" />
<input type="submit" value="Edit"/>
</form>