@model Bookish.ViewModels.LoanMemberModel;

@{
    ViewData["Title"] = "Check Out Book Successful";
}

<div class="text-center">
<p>@Model.MemberFirstName</p>
<p>@Model.MemberSurname</p>
<p>@Model.MemberEmail</p>
<p>@Model.DateBorrowed</p>
</div>

